[Unit]
Description=OpenCanary Log Viewer - Real-time Web Interface
After=network.target
Docs=https://github.com/omysurya/opencanary-viewer.git

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/opencanary-viewer
ExecStart=/opt/opencanary-viewer/opencanary-viewer
Restart=on-failure
RestartSec=5s

# Environment
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=opencanary-viewer

# Security (optional - bisa dikomen dulu untuk debug)
# NoNewPrivileges=true
# PrivateTmp=true

[Install]
WantedBy=multi-user.target
